.login-form{
    outline: none; 
}

.login-form:focus{
    border: 2px solid rgb(172, 172, 172);
}

.btn-login{
    width: 100%;
    padding: 12px 0px;
    margin-top: 10px;
    border: none;
    background-color: rgb(255, 97, 5);
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.btn-login:hover{
    background-color: rgb(199, 73, 0);
}
