.absolute{
    position: absolute;
    margin-top: -30%;
    margin-left: 23%;
    color:  rgb(58, 58, 58);
}
.carousel-indicators button.active {
    border: 1px solid orangered !important;
    margin-top: 8px;
}